:root {
  // Blue
  --blue-50: #e9ebff;
  --blue-100: #bad7ff;
  --blue-200: #a3b9ff;
  --blue-300: #849eef;
  --blue-400: #718bde;
  --blue-500: #5777cb;
  --blue-600: #4369b9;
  --blue-700: #2e56a0;
  --blue-800: #1d4287;
  --blue-900: #002f6d;

  // Dark
  --dark-50: #60a6fa;
  --dark-100: #3b83f6;
  --dark-100-20: #3b83f633;
  --dark-200: #1d4fd8;
  --dark-300: #383a42;
  --dark-400: #30363e;
  --dark-500: #2d3139;
  --dark-600: #282d35;
  --dark-700: #25272f;
  --dark-800: #1b1d24;

  // Grey
  --grey-50: #fafafa;
  --grey-100: #eff1f4;
  --grey-200: #e6ecf5;
  --grey-300: #cacaca;
  --grey-400: #9f9f9f;
  --grey-500: #8c92a0;
  --grey-600: #6f767b;
  --grey-700: #3c3c3c;
  --grey-800: #5f5f5f;
  --grey-900: #e0e0e0;

  // Ocean
  --ocean-25: #f6fafd;
  --ocean-30: #f1f2ff;
  --ocean-35: #e9ebff;
  --ocean-40: #f0f1ff;
  --ocean-50: #dee7ff;
  --ocean-100: #bcceff;
  --ocean-150: #c4c9ff;
  --ocean-200: #82abf3;
  --ocean-300: #3f8ff1;
  --ocean-400: #0072ff;
  --ocean-500: #0562d5;
  --ocean-950: #000736;

  // Red
  --red-10: #fefafa;
  --red-15: #fef7f7;
  --red-20: #fef2f2;
  --red-25: #fff0f0;
  --red-30: #fee2e2;
  --red-50: #fff1f1;
  --red-100: #fce8e8;
  --red-200: #ffcccc;
  --red-300: #dc6363;
  --red-400: #dd1c1c;
  --red-500: #bf1616;
  --red-600: #c00000;

  // Green
  --green-20: #f0f9f1;
  --green-20-60: #f0f9f199;
  --green-25: #e3f5e5;
  --green-50: #cce6cc;
  --green-100: #90ae51;
  --green-150: #68b778;
  --green-200: #8ebd3f;
  --green-300: #71b400;
  --green-400: #5a9000;
  --green-500: #36934c;
  --green-600: #26753b;

  // White
  --white-50: #fff;
  --white-100: #fcfcfc;
  --white-200: #f6f8fc;

  // Orange
  --orange-20: #fff8e1;
  --orange-25: #fffbe1;
  --orange-30: #fff5ef;
  --orange-50: #f2994a;
  --orange-100: #eb8641;
  --orange-200: #dc5f43;
  --orange-300: #f7901e;
  --orange-400: #f7901e33;

  // Pink
  --pink-50: #f6e1fc;
  --pink-100: #d47ce9;
  --pink-200: #d467ef;

  // Violet
  --violet-50: #a07bf4;
  --violet-100: #8279e1;

  // Turquoise
  --turquoise-50: #76bad1;
  --turquoise-100: #42afd1;

  // Yellow
  --yellow-400: #f3ba2a;
  --yellow-500: #ffba19;

  // Brown
  --brown-50: #af8b70;

  // Sea
  --sea-50: #54c3a1;

  // Shadow
  --shadow-blue: #f0f1ff;
}
